.marketplace_container {
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  .marketplace_filter {
    position: fixed;
    width: 250px;
    border-right: 1px solid #ddd;
    padding: 20px;
    z-index: 300;
    color: inherit;
    display: none;
    height: 100vh;
  }
  .marketplace_filter.visible{
    display: block;
  }
  .marketplace_container.light-mode, 
  .marketplace_filter.light-mode {
    background-color: #ffffff;
    color: #0F172A;
  }

  .marketplace_container.dark-mode,
  .marketplace_filter.dark-mode {
    background-color: #0F172A;
    color: #ffffff;
  }
   
  
  .marketplace_product {
    flex: 1;
    overflow-y: auto; 
    height: 100vh; 
  }
  .marketplace_header p{
    text-align: center;
  }
.marketplace_header {
    padding: 12px 0px;
    background-color: #232F3E;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    z-index: 200;
    position: sticky;
    top: 0px;
  }
  .hamburger-filter{
    position: relative;
  }
  .hamburger-icon-filter{
    position: absolute;
    left: 15px;
    top: -19px;
    cursor: pointer;
  }
  .hamburger-icon-filter-cross{
    position: absolute;
    right: 12px;
    top: -20px;
    cursor: pointer;
  }
  .marketplace_card{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px){
    .marketplace_header p{
      font-size: 18px;
      
    }
    .marketplace_filter {
      width: 200px;
      padding: 15px;
    }
    
  }
  @media screen and (max-width: 568px){
    .marketplace_header p{
      font-size: 17px;
      
    }
    .marketplace_filter {
      width: 180px;
    }
    
  }
  