
.slider-container {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    height: 100%;
  }
  
  .slider {
    position: relative;
    width: 98%;
    height:500px; 
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    
  }
  
  .slide-image {
    width: 100%;
    height: 500px;
    object-fit: cover; 
    flex: 0 0 100%;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 90;
    border-radius: 50%;
  }
  
  .slider-button:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .slider-button-prev {
    left: 10px;
  }
  
  .slider-button-next {
    right: 10px;
  }
  

  @media screen and (max-width: 1068px){
    .slider{
      height: 300px;
    }
  }
  @media screen and (max-width: 668px){
    .slider{
      height: 250px;
    }
  }